* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: #E55473;
    padding: 20px 42px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    margin-top: 32px;
}
.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.section-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

/* start banar style */

.banar-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 95px;
    padding: 50px 240px 0px 240px;
}

.banar-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banar-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.banar-image {
    width: 550px;
    height: 800px;
}

/* end banar style */

/* start feature style */

.feature-section {
    margin-top: 175px;
}

.features-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 50px;
}

.feature-box {
    width: 460px;
    height: 530px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    background: rgba(167, 33, 98, 0.15);
}

.box-image-one {
    padding: 102px 75px 0px 75px;
}

.box-image-two {
    padding: 117px 47px 51px 47px;
}

.box-image-three {
    padding: 60px 75px 0px 75px;

}

.box-image-name {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    margin-top: 32px;
}

/* end feature style */


/* start delivery style */

.delivery-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 195px 240px 130px 240px;
    padding: 86px 0px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    text-align: center;
}

.discription {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
}

/* end delivery style */

/* start offer style */

.offer-container {
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 185px;
    margin-bottom: 128px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.offer-title {
    color: #E55473;
}

/* end offer style */

/* start instagram style */

.instagram-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}

/* end instagram style */

/* start instagram style */